extends layout

block content
    #shade
        .shadedialog
            input.inputname(type='text', placeholder='请输入昵称', maxlength='10')
            input.confirm(type='button', value='确定')
    #container
        .left
            .message
                ul.chatbox
                    //- li.chatitem.others
                    //-     p.username 用户
                    //-     p.msg 你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔
                    //- li.chatitem.myself
                    //-     p.username 我自sadg 己
                    //-     p.msg 你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔你好好好懊悔
                    //- li.chatitem.welcome
                    //-     p.msgcontent aaa加入群聊
            .footer
                input.input(type='text')
                button.send 发送
        .right
            .users
                p.user-title 成员(
                    span.nums 0
                    |)
                ul.userlist
                    //- li 阿萨德
                    //- li 阿萨德
                    //- li 阿萨德
                    //- li 阿萨德阿萨德阿萨asdf 德阿萨德
        
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script.
        var socket = io();

        var $ = function(str){return document.querySelector(str)}

        var cc = function(tagName, options){
            var e = document.createElement(tagName);
            for(var p in options){
                e[p] = options[p];
            }
            return e;
        }

        var input = $('.input');
        var send = $('.send');
        var message = $('.message ul');
        var inputname = $('.inputname');
        var comfirm = $('.confirm');
        var shade = $('#shade');
        var userlist = $('.userlist');
        var nums = $('.users .nums');

        inputname.focus();

        var formattime = function(nums){
            var d = new Date(nums);
            var m = d.getMonth() + 1;
            var day = d.getDate();
            var h = d.getHours();
            var mi = d.getMinutes();
            var s = d.getSeconds();
            m = m > 9 ? m : '0' + m;
            day = day > 9 ? day : '0' + day;
            h = h > 9 ? h : '0' + h;
            mi = mi > 9 ? mi : '0' + mi;
            s = s > 9 ? s : '0' + s;

            return m + '-' + day + ' ' + h + ':' + mi + ':' + s;
        }

        var sendMsg = function(data, isMyself){
            var li = cc('li', {
                className: 'chatitem ' + (isMyself ? 'myself' : 'others' + '')
            });

            var time = cc('span', {
                className: 'time',
                textContent: '(' + formattime(data.time) + ')'
            });

            var username = cc('p', {
                className: 'username'
            });

            var text = document.createTextNode(data.username + (isMyself ? '-我' : ''));

            if(isMyself){
                username.appendChild(time);
                username.appendChild(text);
            }else{
                username.appendChild(text);
                username.appendChild(time);
            }

            var msg = cc('p', {
                className: 'msg',
                textContent: data.msg
            });

            li.appendChild(username);
            li.appendChild(msg);

            message.appendChild(li);
            li.scrollIntoView();
        }

        var initusers = function(id, users){
            userlist.innerHTML = '';
            var id = socket.id;

            users.forEach(function(user){
                var li = cc('li', {
                    id: 'id' + user.id,
                    textContent: user.username + (user.id === id ? '(我)' : '')
                });
                userlist.appendChild(li);
            });
        }

        var userJoin = function(username, id, users){
            var isMyself = socket.id === id;
            
            if(isMyself){
                shade.style.display = 'none';
                input.focus();
            }else if(!socket.isLogin){
                return;
            }

            var li = cc('li', {
                className: 'chatitem msgitem userjoin',
                innerHTML: '<p class="msgcontent">' + username+(isMyself?'(我)':'') + ' 加入群聊</p>'
            });

            message.appendChild(li);

            initusers(id, users);

            nums.textContent = users.length;

            li.scrollIntoView();
        }

        var userOut = function(id, username, length){
            console.log(username);
            var li = $('#id' + id);
            li.parentNode.removeChild(li);
            nums.textContent = length;

            var li2 = cc('li', {
                className: 'chatitem msgitem userout',
                innerHTML: '<p class="msgcontent">' + username + ' 退出群聊</p>'
            });

            message.appendChild(li2);

            li2.scrollIntoView();
        }

        var inputing = function(id){
            inputing.wait = 1000;
            clearTimeout(inputing[id]);
            var li = $('#id' + id);

            if(!li.querySelector('.inputing')){
                li.appendChild(cc('span', {
                    className: 'inputing',
                    textContent: '（正在输入……）'
                }));
            }

            inputing[id] = setTimeout(function(){
                var inp = li.querySelector('.inputing');
                clearTimeout(inputing.st);
                inp.parentNode.removeChild(inp);
            }, inputing.wait);
        }

        var nameconflict = function(username){
            inputname.classList.add('conflict');
            inputname.setAttribute('placeholder', '昵称"' + username + '"已被占用');
            inputname.value = '';
            shade.style.display = '';
            inputname.focus();
        }

        input.onkeydown = function(e){
            e.keyCode == 13 && send.click();
        }

        inputname.onkeydown = function(e){
            e.keyCode == 13 && comfirm.click();
        }

        document.body.ontouchmove = function(){return false;}
        
        socket.on('connect', function(){
            comfirm.onclick = function(){
                var username = inputname.value.replace(/\s/g, '');
                if(username){
                    socket.emit('join', username, socket.id);
                }else{
                    inputname.focus();
                }
            } 
    
            socket.on('conflict' + socket.id, nameconflict)

            socket.on('userjoin', function(username, id, users){
                console.log(socket.isLogin);
                userJoin(username, id, users);

                if(socket.id === id){
                    socket.isLogin = true;

                    socket.on('userout', userOut);

                    socket.on('inputing', inputing);

                    send.onclick = function(){
                        var msg = input.value.trim();
                        if(msg){
                            socket.emit('chat', msg);
                            input.value = '';
                            input.focus();
                        }
                    }

                    input.oninput = function(){
                        socket.emit('inputing');
                    }

                    socket.on('chat', function(data){
                        sendMsg(data, data.id === socket.id);
                    });
                }
            }); 


        })

        

        
